.main__page {
  width: 100%;
  height: 100vh;
  position: relative;

  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 255;
    backdrop-filter: blur(3px);
  }

  .main__page--text {
    width: 100%;
    height: 100%;
  }

  .btn--area {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 128;

    .down--btn {
      cursor: pointer;
    }
  }
}
