.skill__page {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .card__area {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;

    button {
      border: none;
      background-color: rgba($color: white, $alpha: 0);
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
  }
}
