@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
  width: calc(100vw - (100vw - 100%));
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard", sans-serif;
}

.App {
  width: calc(100vw - (100vw - 100%));
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} */
/* body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #212a3e;
} */

div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f0f0f0;
}
